@{
    ViewData["Title"] = "Email Confirmed";
}

<h1>Email Confirmed</h1>
<h3>Thank you for confirming your email address. Your registration is now complete.</h3>
<a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Go To Website</a>
