<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Your Email</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            color: #333333;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding-top: 30px; 
        }

        .container, .container-fluid, .container-lg,
        .container-md, .container-sm, .container-xl, .container-xxl
        {
            margin-top: 120px;
        }




        

        .email-container {
            background-color: #ffffff;
            border-radius: 15px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            padding: 40px;
            width: 100%;
            max-width: 800px;
            text-align: center;
            
        }

        h2 {
            color: #ff9900;
            margin-bottom: 30px;
            font-size: 28px;
        }

        p {
            color: #333333;
            font-size: 18px;
            margin-bottom: 20px;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12 email-container">
                <h2>Check Your Email</h2>
                <p>If an account with that email exists, you will receive an email with a link to reset your password.</p>
                <p>Please check your inbox and follow the instructions.</p>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/core@2.0.11/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    }
</body>
</html>
