@using Infrastructure.ViewModels
@model QuizViewModel

@{
    ViewData["Title"] = "Create Quiz";
    Layout = "_Dashboard";
}
<h2>Create Quiz</h2>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-lg w-100">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center">Create Quiz</h4>
                </div>
                <div class="card-body">
                    <form id="quizSettingsForm" asp-action="AddQuiz" asp-controller="Quiz">
                        <div class="form-group">
                            <label asp-for="Name">Quiz Name</label>
                            <input asp-for="Name" type="text" class="form-control" id="Name" name="Name" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <textarea asp-for="Description" class="form-control" id="Description" name="Description" rows="3" required></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalDegree">Total Degree</label>
                            <input type="number" asp-for="TotalDegree" class="form-control" id="TotalDegree" name="TotalDegree" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="PassingDegree">Passing Degree</label>
                            <input asp-for="PassingDegree" type="number" class="form-control" id="PassingDegree" name="PassingDegree" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="Duration">Duration</label>
                            <input asp-for="Duration" type="text" class="form-control" id="Duration" name="Duration" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="QuestionNumber">Question Numbers</label>
                            <input asp-for="QuestionNumber" type="number" class="form-control" id="QuestionNumber" name="QuestionNumber" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="SubjectId">Subject</label>
                            <select asp-for="SubjectId" asp-items="ViewBag.subjects" class="form-control">
                                <option value="" class="form-control">Select a Subject</option>
                            </select>
                        </div>
                        <div class="form-check mb-3">
                            <input asp-for="IsPrivate" class="form-check-input" type="checkbox" id="IsPrivate" name="IsPrivate">
                            <label asp-for="IsPrivate" class="form-check-label" for="IsPrivate">Private Quiz</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary px-4 w-100">Save and Continue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#Duration", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i:S",
            time_24hr: true
        });
    </script>
}
