
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Quiz</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="~/css/quizesession.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
</head>
<body>
    <div id="particles-js"></div>
    <div class="form-container">
        <div class="form-box">
            <h2>Start Quiz</h2>
            <div asp-validation-summary="ModelOnly" class="error-msg"></div>
            <form asp-action="StartQuiz" asp-controller="Quiz">
                <div>
                    <label for="SessionID" class="control-label">SessionID</label>
                    <input type="text" id="SessionID" name="SessionID" class="form-control" />
                </div>
                <button type="submit" value="Start">Start</button>
            </form>
        </div>
    </div>
    <script src="~/js/particles.js"></script>
</body>
</html>
