@{
    Layout = "_Layout";
}
<head>
    <link href="~/css/quiznotfound.css" rel="stylesheet" />
</head>
<div class="container text-center mt-5 not-found-page">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Quiz Not Found</h1>
            <p class="lead">Sorry, we couldn't find the quiz you're looking for.</p>
            <a asp-action="Index" asp-controller="Home" class="btn btn-back-home mt-3">Return Home</a>
        </div>
    </div>
</div>

