@{
    ViewData["Title"] = "Enroll in a Section";
}

@using Entities.Models
@model Quiz

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enroll in a Section</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="~/css/quizesession.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
</head>
<body>
    <div asp-vaildation="All"></div>
    <div id="particles-js"></div>
    <div class="form-container">
        <div class="form-box">
            <h2>@ViewData["Title"]</h2>
            <form asp-action="Enroll" asp-controller="Users" method="post">
                <div>
                    <label for="code" class="control-label">Section Code</label>
                    <input type="text" id="code" name="code" class="form-control" />
                </div>
                <button type="submit" value="Enroll">Enroll Now</button>
            </form>
        </div>
    </div>
    <script src="~/js/particles.js"></script>
</body>
</html>
