@{
    ViewData["Title"] = "Enroll in a Section";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h2> Enter Section Code :</h2>
    <form asp-action="Enroll" asp-controller="Users" method="post">
        <div class="form-group">
            <label for="sectionCode">Section Code</label>
            <input type="text" id="code" name="code" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Enroll Now</button>
    </form>
</div>
