<div class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h4>About NexaLearn</h4>
            <p>We provide interactive and engaging quizzes to help students excel in their studies.</p>
        </div>
        <div class="footer-column">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Contact Us</h4>
            <p>Email: support@nexalearn.com</p>
            <p>Phone: 01007452672</p>
        </div>
    </div>
    <p>&copy; 2024 NexaLearn. All rights reserved.</p>
</div>